################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CSharpBasico/FileContentIndex/3dcc3fbf-ef51-4ea8-9d0f-a099484589fb.vsidx
