################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CSharpBasico/FileContentIndex/3dcc3fbf-ef51-4ea8-9d0f-a099484589fb.vsidx
/.vs/CSharpBasico/FileContentIndex/924f53c7-2350-480e-a5e4-680ac1c49481.vsidx
/.vs/CSharpBasico/FileContentIndex/0c7c7005-6b83-4a3f-99c2-4ffabf5f9243.vsidx
/.vs/CSharpBasico/FileContentIndex/bfafbcdd-6f01-48ce-9140-2f1089955eb4.vsidx
/.vs/CSharpBasico/FileContentIndex/bc216cc7-9804-4e9d-a69b-ab49d78b82cc.vsidx
/.vs/CSharpBasico/FileContentIndex/f0d5ad0c-e147-40e6-9521-9f4df1436de4.vsidx
